$main-color1: white;
$main-color2: black;
$main-color3: #ff7f50;

/* Default styles for all screen sizes */

/* Styles for 27-inch monitors and larger */
@media screen and (min-width: 2560px) {
  html {
    font-size: 13px;
  }
}

/* Styles for 24-inch monitors */
@media screen and (min-width: 1920px) and (max-width: 2559px) {
  html {
    font-size: 12px;
  }
}

/* Styles for 16-inch laptops */
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}

/* Styles for 13-inch laptops */
@media screen and (min-width: 1066px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}

/* Styles for iPads */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}

/* Styles for iPhones */
@media screen and (max-width: 767px) {
  html {
    font-size: 4.5px;
  }
}

html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

body {
  font-family: "Montserrat", sans-serif;
}

.bg-warning {
  background-color: $main-color3 !important;
}

.border-warning {
  border-color: $main-color3 !important;
}

.text-warning {
  color: $main-color3 !important;
}

#navbar {
  padding: 1rem;
  .nav-brand {
    font-family: "Briem Hand", cursive;
    font-size: 2.8rem !important;
    font-weight: bold;
    color: $main-color3;
  }

  .nav-link {
    font-size: 2.2rem !important;
  }
}

#front {
  font-size: 3rem;
  height: 100vh;
  background-color: $main-color1;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */

  background-image: linear-gradient(
    155deg,
    rgba($main-color1, 0.3),
    rgba($main-color3, 0.9)
  );
}

#front-text-buttons {
  text-align: left;
  width: 50%;
  #front-text {
    .hello-text {
      font-size: 6rem;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;

      color: $main-color3;
    }
    .title-text {
      font-size: 4rem;
      .title,
      .cursor {
        font-family: "Jersey 25", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5rem;
      }
    }
  }

  #front-buttons {
    .btn {
      margin-right: 2rem;
      margin-top: 4rem;
      font-weight: 500;
      padding: 2rem !important;
      font-size: 1.5rem;
    }
    .btn > a {
      color: $main-color3;
      font-size: 1.5rem;
    }
  }
}

iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 8 / 3;
  border: 2px solid $main-color2;
}

#heading {
  #heading-sub-title {
    font-size: 2.2rem;
    font-style: italic;
  }
  #heading-title {
    font-size: 3.5rem;
    font-weight: 500;
  }
}

#about-me {
  display: grid;
  #heading {
    color: $main-color3;
  }

  #about-me-img {
    margin: auto;
    img {
      width: 100%;
      border-radius: 15%;
      border: 5px solid $main-color3;
    }
  }

  .card {
    border: 2px solid $main-color3;
    i {
      color: $main-color3 !important;
    }

    div {
      text-align: center !important;
      justify-content: center;
    }
  }

  #about-me-intro {
    text-align: justify;
  }
}

#projects {
  background-color: $main-color3;

  #heading {
    color: $main-color1;
  }

  .project-card {
    .projDesc {
      text-align: justify !important;
    }
  }
  .project-card:hover {
    transform: scale(1.03);
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;

  #heading {
    color: $main-color3;
  }

  #email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    font-size: 3rem;
    width: fit-content;
    box-shadow: 1rem 1rem 3rem rgb(202, 198, 198);
    border: 2px solid $main-color2;
    border-radius: 2.5rem;
    padding: 1rem 5rem;
  }

  #email:hover {
    border-color: transparent;
    border: 2px solid $main-color3;
  }

  #social-media {
    a {
      font-size: 7rem;
      color: $main-color3;
      margin: 0 2rem;
    }
  }

  #footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    background-color: $main-color3;
    width: 100%;
    color: $main-color1;
    text-align: right;

    #footer-random {
      font-size: 0.5rem;
      text-align: left;
    }
  }
}
